@charset "UTF-8";

div:first-child {
	color: green;
	font-size: 18pt;
	text-align: center;
}

div:nth-child(2) {
	width: 75%;
	height: 100px;
	background-color: lightblue;
	margin: 20px;
}

div:last-child {
	float: right;
	border: 6px dotted red;
	padding: 20px;
}